html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* React-DatePicker Styles */
.react-datepicker {
  position: absolute;
  border: 1px solid gainsboro;
  margin-top: 2px;
  padding: 1rem;
  border-radius: 5px;
  background: white;
  z-index: 9;
}

.react-datepicker-year-header {
  text-align: center;
  position: absolute;
  top: 18px;
  left: 41%;
}

.react-datepicker__monthPicker {
  margin-top: 1rem;
}

.react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.react-datepicker__navigation-icon--previous {
  color: white;
}

.react-datepicker__navigation-icon--previous::before {
  display: inline-block;
  content: '<';
  color: black;
  transform: translateX(25px);
}

.react-datepicker__navigation-icon--next {
  color: white;
}

button.react-datepicker__navigation-icon--next {
  background: red;
  margin-right: 20px;
}

.react-datepicker__navigation-icon--next::after {
  display: inline-block;
  content: '>';
  color: black;
  transform: translateX(-25px);
}
